:root {
  --font-serif: 'Crimson Text', Palatino, Georgia, serif;
  --font-sans: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  --background-color: #ffffff;
  --text-size: 1.5rem;
  --text-color: #111;
  --line-height: 1.9rem;
  --link-border: solid 1px #ccc;
  --link-border-hover: solid 1px #111;
}

body {
  font-family: var(--font-serif);
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 50rem;
  margin: auto;
}

/* Navigation */

header {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-right: 1rem;
}

.contact li {
  margin-left: 0.3rem;
}

header a {
  color: #aaa;
  text-decoration: none;
}

header a:hover {
  color: #333;
}

/* Footer */

.page-footer p {
  margin: 2rem auto 5rem auto;
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 100;
}

/* Article */

article {
  border-bottom: solid 1px #ddd;
}

article .tweet-button {
  margin-top: 1.4rem;
  float: right;
}

.article-item {
  margin-left: -1rem;
  padding-left: 1rem;
}

.article-item p.anchor {
  float: left;
  clear: left;
  margin: 0;
  margin-left: -1rem;
  visibility: hidden;
}

.article-item p.anchor a {
  color: #ddd;
  border: none;
}

.article-item p.anchor a:hover {
  color: #333;
}

.article-item:hover p.anchor {
  visibility: visible;
}

.article-item p {

}

article figure img {
  display: block;
  max-height: 300px;
  max-width: 100%;
  margin: auto;
}

article figcaption {
  text-align: center;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-style :italic;
}

article h1 {
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  line-height: 1;
}

article h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

article p, article dt, article dd, article li {
  font-size: var(--text-size);
  line-height: var(--line-height);
}

article dt {
  margin-top: 1rem;
  font-style: italic;
}

article a {
  color: #111;
  text-decoration: none;
  border-bottom: var(--link-border);
}

article a:hover {
  border-bottom: var(--link-border-hover);
}

article .external-link i {
  font-size: 0.6rem;
  color: #ddd;
  margin: 0 0 0 0.1rem;
  vertical-align: super;
}

article .external-link:hover i {
  color: #333;
}

article blockquote {
  margin: 0;
}

article blockquote p {
  margin: 0 2rem;
  font-style: italic;
}

article blockquote footer {
  margin-top: 1rem;
  font-style: normal;
  text-align: right;
  font-size: 1.1rem;
}

/* Aside */

aside {
  font-family: var(--font-sans);
  font-weight: 200;
}

aside h2 {
  font-weight: 200;
}

ul.index {
  padding: 0;
  list-style-type: none;
}

a.index-entry-title {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
}

a.index-entry-title:hover {
  text-decoration: underline;
}
